:root {
    --pink: #db624c;
    --white: #e7f3f7;
    --gray: #e6e6e6;
    --darkgray: #838383;
    --lav: #ede9f3;
    --purple: #5c4888;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.bg-white {
    background-color: var(--white);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-purple {
    background-color: var(--purple);
}

.text-white {
    color: var(--white);
}

.text-darkgray {
    color: var(--darkgray);
}

.text-purple {
    color: var(--purple);
}

.border-darkgray {
    border: 1px solid var(--darkgray);
}

.BG {
    background-image: url('./assets/studio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60%;
    overflow: auto;
}

.BG::-webkit-scrollbar {
    display: none;
}

nav label {
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 7px solid transparent;
}

.logout-btn {
    position: absolute;
    right: 5%;
    top: 2%;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    border-bottom: 7px solid;
    border-image: linear-gradient(to left, var(--white), var(--purple));
    border-image-slice: 1;
    border-image-repeat: stretch;
}

#modal-header {
    border-bottom: 1px solid var(--darkgray);
    color: var(--white);
    background-color: var(--purple);
}

textarea {
    min-height: 200px;
}

.btn-close {
    position: absolute;
    top: 3px;
    right: 3px;
    color: var(--white) !important;
}

.input {
    border: 1px solid var(--purple);
    border-radius: 7px;
    padding-left: 5px;
}

input:focus {
    border: 1px solid var(--purple);
    outline: 1px solid var(--purple);
}

select::-webkit-scrollbar {
    width: 0;
    height: 0;
}

option {
    color: var(--purple);
    background-color: var(--white);
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fade-in 0.25s ease-in-out;
}

.success-btn:hover {
    color: var(--white);
    background-color: rgb(107, 209, 107);
}

.danger-btn:hover {
    color: var(--white);
    background-color: var(--pink);
}

.spinner-border {
    color: var(--purple);
}

@media screen and (max-width: 768px) {
    nav {
        padding-top: 40px;
    }

    .logout-btn {
        position: absolute;
        right: 1%;
        top: 1%;
    }
}