:root {
    --pink: #db624c;
    --white: #e7f3f7;
    --gray: #e6e6e6;
    --darkgray: #838383;
    --lav: #D1C4E9;
    --purple: #585C7E;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.bg-white {
    background-color: var(--white);
}

.bg-gray {
    background-color: var(--gray);
}

.text-darkgray {
    color: var(--darkgray);
}

.pink-border {
    border: 2px solid;
    border-image: linear-gradient(to left, var(--white), var(--pink));
    border-image-slice: 1;
    border-image-repeat: stretch;
}

.blueBG {
    background-image: url('./assets/blueBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.cloudBG {
    background-image: url('./assets/cloudBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: auto;
}

.cloudBG::-webkit-scrollbar {
    display: none;
}

nav label {
    font-size: 32px;
    font-weight: 100;
    cursor: pointer;
    border-top: 7px solid transparent;
}

.logout-btn {
    position: absolute;
    right: 7%;
    top: 6%;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    border-top: 7px solid;
    border-image: linear-gradient(to left, var(--white), var(--pink));
    border-image-slice: 1;
    border-image-repeat: stretch;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    color: var(--white);
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 300;
    border-radius: 50%;
    z-index: 0;
    background-image: radial-gradient(transparent 55%, var(--white) 60%, var(--pink) 75%);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

input[type="checkbox"]:checked+label {
    color: var(--pink);
    position: relative;
    background-image: radial-gradient(var(--white) 55%, var(--white) 60%, var(--pink) 75%);
}

#calendar-weekdays div {
    width: 14.2857%;
}

.custom-btn {
    color: var(--white);
    background-color: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 5px;
    cursor: pointer;
}

.custom-btn:hover {
    color: var(--purple);
    background-color: var(--white);
    border: 1px solid var(--purple);
    transition: all 0.3s ease;
}

.monthNavBtn {
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
    background: none;
    border-image: linear-gradient(to left, var(--white), var(--gray));
    border-image-slice: 1;
}

.monthNavBtn:hover {
    color: var(--pink);
    transition: all 0.3s ease;
}

.date {
    width: 14.2857%;
    height: 100px;
    font-size: 20px;
    position: relative;
    border: 1px solid var(--gray);
}

.date-display {
    align-self: flex-start;
}

.date-display:hover {
    cursor: pointer;
    text-decoration: underline;
}

.appts-container {
    height: 70%;
    overflow-y: auto;
}

.appt-dot {
    position: relative;
    bottom: 30px;
    font-size: 50px;
}

.appt-time {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
}

.appt-time:hover {
    cursor: pointer;
    text-decoration: underline;
}

.model-content {
    border: 1px solid var(--darkgray) !important;
    border-radius: 7px !important;
    color: var(--darkgray) !important;
}

#modal-header {
    border-bottom: 1px solid var(--darkgray);
    color: var(--white);
    background-color: var(--purple);
}

.appt-card {
    color: var(--darkgray);
    cursor: pointer;
}

.appt-card:hover {
    box-shadow: 0 0 10px var(--pink);
    transition: all 0.3s ease;
}

textarea {
    min-height: 200px;
}

.btn-close {
    position: absolute;
    top: 3px;
    right: 3px;
    color: var(--white) !important;
}

.appt-details {
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-image: linear-gradient(to left, var(--white), var(--pink));
    border-image-slice: 1;
    border-image-repeat: stretch;
}

.service-button {
    cursor: pointer;
}

#clients {
    overflow-y: scroll;
    height: 85vh;
    position: relative;
}

#clients::-webkit-scrollbar {
    display: none;
}

input[type="text"] {
    border: 1px solid var(--white);
    border-image: linear-gradient(to left, var(--white), var(--pink));
    border-image-slice: 1;
    border-image-repeat: stretch;
}

input[type="text"]:focus {
    border: 1px solid var(--pink);
    outline: 1px solid var(--pink);
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fade-in 0.25s ease-in-out;
}

.custom-dropdown {
    position: relative;
}

.custom-dropdown-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #cccccc;
    border-top: none;
    /* width: 100%; */
    max-height: 200px;
    overflow-y: auto;
    background-image: url('./assets/cloudBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: 1;
}

.custom-dropdown-menu::-webkit-scrollbar {
    display: none;
}

.custom-dropdown-item {
    cursor: pointer;
}

.custom-dropdown-item:hover {
    background-color: var(--pink);
}

.success-btn:hover {
    color: var(--white);
    background-color: rgb(107, 209, 107);
}

.danger-btn:hover {
    color: var(--white);
    background-color: var(--pink);
}

.spinner-border {
    color: var(--pink);
}

@media screen and (max-width: 768px) {
    .logout-btn {
        position: absolute;
        right: 0%;
        top: 0%;
    }

    .date {
        height: 70px;
    }

    .date-display {
        align-self: center;
    }

    .date-display:hover {
        cursor: none;
        text-decoration: none;
    }

    input[type="checkbox"]+label {
        width: 45px;
        height: 45px;
        font-size: 25px;
        font-weight: 300;
    }

}