:root {
    --pink: #db624c;
    --white: #e7f3f7;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.pink-border {
    border: 2px solid;
    border-image: linear-gradient(to left, var(--white), var(--pink));
    border-image-slice: 1;
    border-image-repeat: stretch;
}

.blueBG {
    background-image: url('./assets/blueBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.cloudBG {
    background-image: url('./assets/cloudBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 90vh;
    width: 90%;
}

nav label {
    font-size: 32px;
    font-weight: 100;
    cursor: pointer;
    border-top: 7px solid transparent;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    border-top: 7px solid;
    border-image: linear-gradient(to left, var(--white), var(--pink));
    border-image-slice: 1;
    border-image-repeat: stretch;
}

#calendar-weekdays div {
    width: 125px;
}

.custom-btn {
    color: var(--white);
    cursor: pointer;
    background: none;
    border-image: linear-gradient(to left, var(--white), var(--pink));
    border-image-slice: 1;
}

.custom-btn:hover {
    color: var(--pink);
    transition: all 0.3s ease;
}

.monthNavBtn {
    font-size: 24px;
    font-weight: 300;
}

.date {
    width: 125px;
    height: 100px;
    border: 3px solid var(--pink);
    font-size: 20px;
    position: relative;
}

.pastDate {
    color: black;
}

.date:hover {
    border: 1px solid var(--pink);
    box-shadow: 0 0 10px var(--pink);
    transition: all 0.3s ease;
    cursor: pointer;
}

.noAppts {
    border: 1px solid gray;
}

.modal-content {
    background-image: url('./assets/cloudBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.appt-card {
    color: var(--white);
    cursor: pointer;
}

.appt-card:hover {
    box-shadow: 0 0 10px var(--pink);
    transition: all 0.3s ease;
}

.appt-details {
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-image: linear-gradient(to left, var(--white), var(--pink));
    border-image-slice: 1;
    border-image-repeat: stretch;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fade-in 0.25s ease-in-out;
}

.approve-btn:hover {
    color: var(--white);
    background-color: rgb(107, 209, 107);
}

.deny-btn:hover {
    color: var(--white);
    background-color: var(--pink);
}