:root {
    --pink: #db624c;
    --white: #e7f3f7;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.blueBG {
    background-image: url('./assets/blueBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.cloudBG {
    background-image: url('./assets/cloudBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 90vh;
    width: 90%;
}

nav label {
    font-size: 32px;
    font-weight: 100;
    cursor: pointer;
    border-top: 7px solid transparent;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    border-top: 7px solid;
    border-image: linear-gradient(to left, var(--white), var(--pink));
    border-image-slice: 1;
    border-image-repeat: stretch;
}